<div class="flex flex-col p-6 w-full gap-6">
  <div [ngClass]="{'hidden':!state.motorMoving.get(mac)}" class="flex flex-row justify-center items-center w-full h-full bg-black/40 z-10 top-0 left-0 fixed">
    <div class="flex flex-row items-center">
    <span class="loading loading-ring loading-lg" ></span>
    <p>Moving motor</p>
    </div>
  </div>
  <div class="flex justify-center items-center w-full">
  <input type="range" min="0" max="500" value="{{value}}" step="20" class="range w-full" (change)="move($event.target)"/>
  </div>
  <div class="flex flex-col w-full">
    <progress class="progress progress-secondary w-full" value="{{state.motorPosition.get(mac)}}" max="500"></progress>
    <p class="text-secondary">{{state.motorPosition.get(mac)}}</p>
  </div>
</div>

