<div class="card bg-base-100 shadow-xl h-full" >
  <div class="card-body flex flex-col justify-between h-full">
    <div class="flex flex-row w-full justify-between items-center">

      <div class="flex flex-col gap-2">
        <h2 class="card-title">{{ device.name }}</h2>
        <p class="italic text-sm">{{ device.mac }}</p>
      </div>
      <div [ngClass]="{
      'badge-success': device.status === 'online',
      'badge-error': device.status === 'offline',
      'badge-warning': device.status === 'suspended'
       }" class="badge">
        {{ device.status }}
      </div>
    </div>
    @if (bmeData === undefined) {
      <span class="loading loading-spinner loading-md"></span>
    } @else if (bmeData().length === 0) {
      <div class="flex flex-col gap-2">
        <p class="italic text-sm">No data available</p>
      </div>
    } @else {
      <!--    <div>-->
        <!--      <p>Temperature: {{bmeData.temperatureC}} °C</p>-->
        <!--      <p>Humidity: {{bmeData.humidity }} %</p>-->
        <!--      <p>Pressure: {{(bmeData.pressure  / 1000).toFixed(4)}} kPa</p>-->
        <!--      <p>Created At: {{bmeData.createdAt | date:"long"}}</p>-->
        <!--    </div>-->
        <app-card-line-chart class="h-fit" [mac]="device.mac" [data]="bmeData"></app-card-line-chart>
    }

    <div class="card-actions justify-end">
      <button class="btn btn-secondary btn-outline" (click)="motorControlNavigation()">View Data</button>
      <button class="btn btn-primary" (click)="motorControlNavigation()">Control Blinds</button>
    </div>
  </div>
</div>
